In [20]:
import pandas as pd
import geopandas as gpd

In [21]:
county_geo_gdf = gpd.read_file('./dataset/cb_2017_us_county_5m/cb_2017_us_county_5m.shp')

In [3]:
county_geo_gdf

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,04,015,00025445,0500000US04015,04015,Mohave,06,34475503964,387344307,"POLYGON ((-114.75562 36.08717, -114.75364 36.0..."
1,22,105,00559500,0500000US22105,22105,Tangipahoa,15,2049488093,136678798,"POLYGON ((-90.56717 30.82481, -90.56719 30.999..."
2,16,063,00395624,0500000US16063,16063,Lincoln,06,3111451190,11606076,"POLYGON ((-114.59461 43.19834, -114.37496 43.1..."
3,27,119,00659505,0500000US27119,27119,Polk,06,5105067510,69169913,"POLYGON ((-97.14667 48.17148, -97.14570 48.173..."
4,38,017,01034226,0500000US38017,38017,Cass,06,4571107601,7732062,"POLYGON ((-97.70603 47.23998, -97.45151 47.239..."
...,...,...,...,...,...,...,...,...,...,...
3228,31,101,00835872,0500000US31101,31101,Keith,06,2749531887,124672175,"POLYGON ((-102.05554 41.22155, -102.05526 41.3..."
3229,28,001,00695726,0500000US28001,28001,Adams,06,1197464269,65273640,"POLYGON ((-91.65501 31.25181, -91.65403 31.255..."
3230,36,069,00974133,0500000US36069,36069,Ontario,06,1668114449,47820988,"POLYGON ((-77.61167 42.76317, -77.58822 42.762..."
3231,54,053,01560254,0500000US54053,54053,Mason,06,1115633278,36174540,"POLYGON ((-82.22157 38.78719, -82.21727 38.795..."
3232,04,025,00042809,0500000US04025,04025,Yavapai,06,21039796372,11501575,"POLYGON ((-113.33416 35.52804, -113.29927 35.5..."

In [22]:
county_geo_gdf[county_geo_gdf['NAME'] == 'Dane']

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
1883,55,025,01581072,0500000US55025,55025,Dane,06,3098774789,106341440,"POLYGON ((-89.83823 43.07470, -89.83796 43.118..."

In [4]:
county_geo_gdf.crs = {'init': 'epsg:3857'}

/Users/bianhaoji/opt/anaconda3/lib/python3.8/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [5]:
from shapely.geometry import Point

In [6]:
airline_df = pd.read_csv('./dataset/geo_airports_week.csv')
airline_df.head()

,YEAR,week,ORIGIN_AIRPORT_ID,COUNT_FLIGHTS,Description,IATA,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,COUNTY
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo
1,2018,2,10140,269,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo
2,2018,3,10140,270,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo
3,2018,4,10140,270,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo
4,2018,5,10140,266,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo

In [7]:
points  = [Point(x, y) for x, y in zip(airline_df['LONGITUDE'], airline_df['LATITUDE'])]
# Convert the radius from miles to degrees
# 1 degree = 69.172 miles
radius = 20 / 69.172 
circles = [Point(p.x, p.y).buffer(radius) for p in points]
airline_gdf = gpd.GeoDataFrame(airline_df, geometry=circles)
airline_gdf.crs = {'init': 'epsg:4326'}
airline_gdf

/Users/bianhaoji/opt/anaconda3/lib/python3.8/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

,YEAR,week,ORIGIN_AIRPORT_ID,COUNT_FLIGHTS,Description,IATA,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,COUNTY,geometry
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo,"POLYGON ((-106.32006 35.04022, -106.32145 35.0..."
1,2018,2,10140,269,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo,"POLYGON ((-106.32006 35.04022, -106.32145 35.0..."
2,2018,3,10140,270,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo,"POLYGON ((-106.32006 35.04022, -106.32145 35.0..."
3,2018,4,10140,270,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo,"POLYGON ((-106.32006 35.04022, -106.32145 35.0..."
4,2018,5,10140,266,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo,"POLYGON ((-106.32006 35.04022, -106.32145 35.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13122,2021,28,15624,280,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,30.483250,-86.525400,Okaloosa,"POLYGON ((-86.23627 30.48325, -86.23766 30.454..."
13123,2021,29,15624,286,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,30.483250,-86.525400,Okaloosa,"POLYGON ((-86.23627 30.48325, -86.23766 30.454..."
13124,2021,30,15624,286,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,30.483250,-86.525400,Okaloosa,"POLYGON ((-86.23627 30.48325, -86.23766 30.454..."
13125,2021,31,15624,274,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,30.483250,-86.525400,Okaloosa,"POLYGON ((-86.23627 30.48325, -86.23766 30.454..."
13126,2021,32,15624,265,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,30.483250,-86.525400,Okaloosa,"POLYGON ((-86.23627 30.48325, -86.23766 30.454..."

In [8]:
matching_counties = []
airline_county_gdf = gpd.sjoin(airline_gdf, county_geo_gdf, how='left', op='intersects')

/Users/bianhaoji/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if (await self.run_code(code, result,  async_=asy)):
<ipython-input-8-37c197a3a60f>:2: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: +init=epsg:4326 +type=crs
Right CRS: EPSG:3857

  airline_county_gdf = gpd.sjoin(airline_gdf, county_geo_gdf, how='left', op='intersects')

In [9]:
airline_county_gdf

,YEAR,week,ORIGIN_AIRPORT_ID,COUNT_FLIGHTS,Description,IATA,AIRPORT,CITY,STATE,COUNTRY,...,index_right,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,...,1746,35,043,00929113,0500000US35043,35043,Sandoval,06,9609139504,10854361
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,...,591,35,057,00929112,0500000US35057,35057,Torrance,06,8664074710,2303485
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,...,971,35,061,00933052,0500000US35061,35061,Valencia,06,2762826562,2787804
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,...,2289,35,001,01702363,0500000US35001,35001,Bernalillo,06,3007310205,16190430
1,2018,2,10140,269,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,...,1746,35,043,00929113,0500000US35043,35043,Sandoval,06,9609139504,10854361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13125,2021,31,15624,274,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,...,1916,12,113,00306914,0500000US12113,12113,Santa Rosa,06,2621316069,418753385
13125,2021,31,15624,274,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,...,52,12,091,00306915,0500000US12091,12091,Okaloosa,06,2409367483,393201898
13126,2021,32,15624,265,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,...,574,12,131,00295727,0500000US12131,12131,Walton,06,2687686788,522848570
13126,2021,32,15624,265,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,...,1916,12,113,00306914,0500000US12113,12113,Santa Rosa,06,2621316069,418753385
13126,2021,32,15624,265,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,...,52,12,091,00306915,0500000US12091,12091,Okaloosa,06,2409367483,393201898

In [10]:
airline_county_gdf.to_csv('./dataset/airline_county_gdf.csv', index = False)

In [11]:
airline_county_gdf['Matching_County'] = airline_county_gdf['NAME']
airline_county_gdf

,YEAR,week,ORIGIN_AIRPORT_ID,COUNT_FLIGHTS,Description,IATA,AIRPORT,CITY,STATE,COUNTRY,...,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,Matching_County
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,...,35,043,00929113,0500000US35043,35043,Sandoval,06,9609139504,10854361,Sandoval
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,...,35,057,00929112,0500000US35057,35057,Torrance,06,8664074710,2303485,Torrance
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,...,35,061,00933052,0500000US35061,35061,Valencia,06,2762826562,2787804,Valencia
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,...,35,001,01702363,0500000US35001,35001,Bernalillo,06,3007310205,16190430,Bernalillo
1,2018,2,10140,269,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,...,35,043,00929113,0500000US35043,35043,Sandoval,06,9609139504,10854361,Sandoval
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13125,2021,31,15624,274,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,...,12,113,00306914,0500000US12113,12113,Santa Rosa,06,2621316069,418753385,Santa Rosa
13125,2021,31,15624,274,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,...,12,091,00306915,0500000US12091,12091,Okaloosa,06,2409367483,393201898,Okaloosa
13126,2021,32,15624,265,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,...,12,131,00295727,0500000US12131,12131,Walton,06,2687686788,522848570,Walton
13126,2021,32,15624,265,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,...,12,113,00306914,0500000US12113,12113,Santa Rosa,06,2621316069,418753385,Santa Rosa
13126,2021,32,15624,265,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,...,12,091,00306915,0500000US12091,12091,Okaloosa,06,2409367483,393201898,Okaloosa

In [12]:
covid_df = pd.read_csv('./dataset/covid_county_week.csv')
covid_df

,county,state,YEAR,week,cases,deaths,stay_at_home_announced,stay_at_home_effective,total_population,population_density_per_sqmi,...,date_stay_at_home_effective,fog,rain,snow,thunder,visibility,max_wind_speed,lat,lon,increasing_cases
0,Abbeville,SC,2020,12,1,0.0,no,no,24951.0,50.870343,...,NaN,0.0,3.0,0.0,1.0,8.875000,11.225000,34.222556,-82.458754,1.0
1,Abbeville,SC,2020,13,4,0.0,no,no,24951.0,50.870343,...,NaN,2.0,4.0,0.0,2.0,7.871429,11.128571,34.222556,-82.458754,3.0
2,Abbeville,SC,2020,14,6,0.0,no,no,24951.0,50.870343,...,NaN,0.0,3.0,0.0,0.0,9.871429,8.228571,34.222556,-82.458754,2.0
3,Abbeville,SC,2020,15,9,0.0,no,no,24951.0,50.870343,...,NaN,1.0,2.0,0.0,0.0,9.485714,12.442857,34.222556,-82.458754,3.0
4,Abbeville,SC,2020,16,17,0.0,no,no,24951.0,50.870343,...,NaN,0.0,3.0,0.0,1.0,9.800000,13.014286,34.222556,-82.458754,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112625,Ziebach,SD,2020,45,130,2.0,no,no,2818.0,1.436850,...,NaN,0.0,0.0,0.0,0.0,NaN,16.614286,44.980428,-101.665818,22.0
112626,Ziebach,SD,2020,46,149,3.0,no,no,2818.0,1.436850,...,NaN,0.0,0.0,0.0,0.0,NaN,20.042857,44.980428,-101.665818,19.0
112627,Ziebach,SD,2020,47,159,6.0,no,no,2818.0,1.436850,...,NaN,0.0,0.0,0.0,0.0,NaN,17.157143,44.980428,-101.665818,10.0
112628,Ziebach,SD,2020,48,180,7.0,no,no,2818.0,1.436850,...,NaN,0.0,0.0,0.0,0.0,NaN,20.428571,44.980428,-101.665818,21.0
112629,Ziebach,SD,2020,49,237,7.0,no,no,2818.0,1.436850,...,NaN,0.0,0.0,0.0,0.0,NaN,18.380000,44.980428,-101.665818,57.0

In [13]:
geometry = [Point(x, y) for x, y in zip(covid_df['lon'], covid_df['lat'])]
covid_gdf = gpd.GeoDataFrame(covid_df, geometry=geometry)
covid_gdf

,county,state,YEAR,week,cases,deaths,stay_at_home_announced,stay_at_home_effective,total_population,population_density_per_sqmi,...,fog,rain,snow,thunder,visibility,max_wind_speed,lat,lon,increasing_cases,geometry
0,Abbeville,SC,2020,12,1,0.0,no,no,24951.0,50.870343,...,0.0,3.0,0.0,1.0,8.875000,11.225000,34.222556,-82.458754,1.0,POINT (-82.45875 34.22256)
1,Abbeville,SC,2020,13,4,0.0,no,no,24951.0,50.870343,...,2.0,4.0,0.0,2.0,7.871429,11.128571,34.222556,-82.458754,3.0,POINT (-82.45875 34.22256)
2,Abbeville,SC,2020,14,6,0.0,no,no,24951.0,50.870343,...,0.0,3.0,0.0,0.0,9.871429,8.228571,34.222556,-82.458754,2.0,POINT (-82.45875 34.22256)
3,Abbeville,SC,2020,15,9,0.0,no,no,24951.0,50.870343,...,1.0,2.0,0.0,0.0,9.485714,12.442857,34.222556,-82.458754,3.0,POINT (-82.45875 34.22256)
4,Abbeville,SC,2020,16,17,0.0,no,no,24951.0,50.870343,...,0.0,3.0,0.0,1.0,9.800000,13.014286,34.222556,-82.458754,8.0,POINT (-82.45875 34.22256)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112625,Ziebach,SD,2020,45,130,2.0,no,no,2818.0,1.436850,...,0.0,0.0,0.0,0.0,NaN,16.614286,44.980428,-101.665818,22.0,POINT (-101.66582 44.98043)
112626,Ziebach,SD,2020,46,149,3.0,no,no,2818.0,1.436850,...,0.0,0.0,0.0,0.0,NaN,20.042857,44.980428,-101.665818,19.0,POINT (-101.66582 44.98043)
112627,Ziebach,SD,2020,47,159,6.0,no,no,2818.0,1.436850,...,0.0,0.0,0.0,0.0,NaN,17.157143,44.980428,-101.665818,10.0,POINT (-101.66582 44.98043)
112628,Ziebach,SD,2020,48,180,7.0,no,no,2818.0,1.436850,...,0.0,0.0,0.0,0.0,NaN,20.428571,44.980428,-101.665818,21.0,POINT (-101.66582 44.98043)
112629,Ziebach,SD,2020,49,237,7.0,no,no,2818.0,1.436850,...,0.0,0.0,0.0,0.0,NaN,18.380000,44.980428,-101.665818,57.0,POINT (-101.66582 44.98043)

In [14]:
# Create a list to store the matching counties
matching_counties = []

# Use spatial join to join the two GeoDataFrames and find the matching counties
result = gpd.sjoin(covid_gdf, county_geo_gdf, how='left', op='within')
matching_counties = result['NAME'].tolist()
covid_gdf['Matching_County'] = matching_counties

/Users/bianhaoji/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if (await self.run_code(code, result,  async_=asy)):
<ipython-input-14-1b702ee5f3af>:5: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:3857

  result = gpd.sjoin(covid_gdf, county_geo_gdf, how='left', op='within')

In [15]:
covid_gdf.rename(columns={'COUNTY' :'county', 'STATE' : 'state'}, inplace=True)
airline_county_gdf.rename(columns={'COUNTY' :'county', 'STATE' : 'state'}, inplace=True)
covid_gdf.drop(['county'], axis=1, inplace=True)

In [16]:
covid_gdf.to_csv('./dataset/covid_gdf.csv', index = False)

In [17]:
covid_airline_gdf = airline_county_gdf.merge(covid_gdf, on = ['Matching_County','state', 'YEAR', 'week'])

In [18]:
covid_airline_gdf.to_csv('./dataset/covid_airline.csv', index = False)