In [2]:
import pandas as pd
import numpy as np

In [3]:
covid_df = pd.read_csv('./dataset/US_counties_COVID19_health_weather_data.csv')

In [4]:
covid_df

,date,county,state,fips,cases,deaths,stay_at_home_announced,stay_at_home_effective,lat,lon,...,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg,date_stay_at_home_announced,date_stay_at_home_effective
0,2020-01-21,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333,2020-03-23,2020-03-23
1,2020-01-22,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000,2020-03-23,2020-03-23
2,2020-01-23,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000,2020-03-23,2020-03-23
3,2020-01-24,Cook,Illinois,17031,1,0.0,no,no,41.840039,-87.816716,...,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333,2020-03-20,2020-03-21
4,2020-01-24,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333,2020-03-23,2020-03-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790326,2020-12-04,Sweetwater,Wyoming,56037,2077,10.0,no,no,41.659538,-108.879567,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790327,2020-12-04,Teton,Wyoming,56039,1724,2.0,no,no,43.934776,-110.589759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790328,2020-12-04,Uinta,Wyoming,56041,1175,5.0,no,no,41.287648,-110.547639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790329,2020-12-04,Washakie,Wyoming,56043,517,8.0,no,no,43.904970,-107.682819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790330,2020-12-04,Weston,Wyoming,56045,419,2.0,no,no,43.840417,-104.567663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
state_abbr = pd.read_csv('./dataset/state_abbr.csv')
state_abbr_dict = state_abbr.set_index('State').to_dict()['Abbreviation']
covid_df['state'] = covid_df['state'].map(state_abbr_dict)

In [6]:
covid_df

,date,county,state,fips,cases,deaths,stay_at_home_announced,stay_at_home_effective,lat,lon,...,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg,date_stay_at_home_announced,date_stay_at_home_effective
0,2020-01-21,Snohomish,WA,53061,1,0.0,no,no,48.047489,-121.697307,...,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333,2020-03-23,2020-03-23
1,2020-01-22,Snohomish,WA,53061,1,0.0,no,no,48.047489,-121.697307,...,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000,2020-03-23,2020-03-23
2,2020-01-23,Snohomish,WA,53061,1,0.0,no,no,48.047489,-121.697307,...,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000,2020-03-23,2020-03-23
3,2020-01-24,Cook,IL,17031,1,0.0,no,no,41.840039,-87.816716,...,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333,2020-03-20,2020-03-21
4,2020-01-24,Snohomish,WA,53061,1,0.0,no,no,48.047489,-121.697307,...,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333,2020-03-23,2020-03-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790326,2020-12-04,Sweetwater,WY,56037,2077,10.0,no,no,41.659538,-108.879567,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790327,2020-12-04,Teton,WY,56039,1724,2.0,no,no,43.934776,-110.589759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790328,2020-12-04,Uinta,WY,56041,1175,5.0,no,no,41.287648,-110.547639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790329,2020-12-04,Washakie,WY,56043,517,8.0,no,no,43.904970,-107.682819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790330,2020-12-04,Weston,WY,56045,419,2.0,no,no,43.840417,-104.567663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
kept_col = ['date', 'county', 'state', 'cases', 'deaths', 'stay_at_home_announced', 'stay_at_home_effective', 'total_population',
             'population_density_per_sqmi', 'date_stay_at_home_announced', 'date_stay_at_home_effective','fog','rain','snow','thunder',
            'visibility', 'max_wind_speed', 'lat', 'lon']
covid_clean_df = covid_df[kept_col]
covid_clean_df

,date,county,state,cases,deaths,stay_at_home_announced,stay_at_home_effective,total_population,population_density_per_sqmi,date_stay_at_home_announced,date_stay_at_home_effective,fog,rain,snow,thunder,visibility,max_wind_speed,lat,lon
0,2020-01-21,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,2020-03-23,0.0,1.0,0.0,0.0,9.9,19.0,48.047489,-121.697307
1,2020-01-22,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,2020-03-23,0.0,1.0,0.0,0.0,9.6,21.0,48.047489,-121.697307
2,2020-01-23,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,2020-03-23,0.0,1.0,0.0,0.0,10.0,20.0,48.047489,-121.697307
3,2020-01-24,Cook,IL,1,0.0,no,no,5227575.0,5531.878539,2020-03-20,2020-03-21,1.0,1.0,1.0,0.0,2.5,9.9,41.840039,-87.816716
4,2020-01-24,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,2020-03-23,0.0,1.0,0.0,0.0,9.6,22.0,48.047489,-121.697307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790326,2020-12-04,Sweetwater,WY,2077,10.0,no,no,44812.0,4.297803,NaN,NaN,0.0,0.0,0.0,0.0,10.0,7.0,41.659538,-108.879567
790327,2020-12-04,Teton,WY,1724,2.0,no,no,22623.0,5.661502,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,43.934776,-110.589759
790328,2020-12-04,Uinta,WY,1175,5.0,no,no,20893.0,10.035892,NaN,NaN,0.0,0.0,0.0,0.0,10.0,8.9,41.287648,-110.547639
790329,2020-12-04,Washakie,WY,517,8.0,no,no,8351.0,3.730539,NaN,NaN,0.0,0.0,0.0,0.0,10.0,4.1,43.904970,-107.682819
790330,2020-12-04,Weston,WY,419,2.0,no,no,7175.0,2.991964,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,43.840417,-104.567663

In [35]:
covid_clean_df['date'] = pd.to_datetime(covid_clean_df['date'])
covid_clean_df

C:\Users\bianh\AppData\Local\Temp\ipykernel_2324\1863751373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_clean_df['date'] = pd.to_datetime(covid_clean_df['date'])

,date,county,state,cases,deaths,stay_at_home_announced,stay_at_home_effective,total_population,population_density_per_sqmi,date_stay_at_home_announced,date_stay_at_home_effective,fog,rain,snow,thunder,visibility,max_wind_speed,lat,lon
0,2020-01-21,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,2020-03-23,0.0,1.0,0.0,0.0,9.9,19.0,48.047489,-121.697307
1,2020-01-22,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,2020-03-23,0.0,1.0,0.0,0.0,9.6,21.0,48.047489,-121.697307
2,2020-01-23,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,2020-03-23,0.0,1.0,0.0,0.0,10.0,20.0,48.047489,-121.697307
3,2020-01-24,Cook,IL,1,0.0,no,no,5227575.0,5531.878539,2020-03-20,2020-03-21,1.0,1.0,1.0,0.0,2.5,9.9,41.840039,-87.816716
4,2020-01-24,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,2020-03-23,0.0,1.0,0.0,0.0,9.6,22.0,48.047489,-121.697307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790326,2020-12-04,Sweetwater,WY,2077,10.0,no,no,44812.0,4.297803,NaN,NaN,0.0,0.0,0.0,0.0,10.0,7.0,41.659538,-108.879567
790327,2020-12-04,Teton,WY,1724,2.0,no,no,22623.0,5.661502,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,43.934776,-110.589759
790328,2020-12-04,Uinta,WY,1175,5.0,no,no,20893.0,10.035892,NaN,NaN,0.0,0.0,0.0,0.0,10.0,8.9,41.287648,-110.547639
790329,2020-12-04,Washakie,WY,517,8.0,no,no,8351.0,3.730539,NaN,NaN,0.0,0.0,0.0,0.0,10.0,4.1,43.904970,-107.682819
790330,2020-12-04,Weston,WY,419,2.0,no,no,7175.0,2.991964,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,43.840417,-104.567663

In [36]:
covid_clean_df['week'] = covid_clean_df['date'].dt.weekofyear
covid_clean_df['YEAR'] = covid_clean_df['date'].dt.year

C:\Users\bianh\AppData\Local\Temp\ipykernel_2324\1528665907.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  covid_clean_df['week'] = covid_clean_df['date'].dt.weekofyear
C:\Users\bianh\AppData\Local\Temp\ipykernel_2324\1528665907.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_clean_df['week'] = covid_clean_df['date'].dt.weekofyear
C:\Users\bianh\AppData\Local\Temp\ipykernel_2324\1528665907.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_clean_df['YEAR'] = covid_clean_df['date'].dt.year

In [37]:
covid_clean_df

,date,county,state,cases,deaths,stay_at_home_announced,stay_at_home_effective,total_population,population_density_per_sqmi,date_stay_at_home_announced,...,fog,rain,snow,thunder,visibility,max_wind_speed,lat,lon,week,YEAR
0,2020-01-21,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,...,0.0,1.0,0.0,0.0,9.9,19.0,48.047489,-121.697307,4,2020
1,2020-01-22,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,...,0.0,1.0,0.0,0.0,9.6,21.0,48.047489,-121.697307,4,2020
2,2020-01-23,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,...,0.0,1.0,0.0,0.0,10.0,20.0,48.047489,-121.697307,4,2020
3,2020-01-24,Cook,IL,1,0.0,no,no,5227575.0,5531.878539,2020-03-20,...,1.0,1.0,1.0,0.0,2.5,9.9,41.840039,-87.816716,4,2020
4,2020-01-24,Snohomish,WA,1,0.0,no,no,758649.0,363.586159,2020-03-23,...,0.0,1.0,0.0,0.0,9.6,22.0,48.047489,-121.697307,4,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790326,2020-12-04,Sweetwater,WY,2077,10.0,no,no,44812.0,4.297803,NaN,...,0.0,0.0,0.0,0.0,10.0,7.0,41.659538,-108.879567,49,2020
790327,2020-12-04,Teton,WY,1724,2.0,no,no,22623.0,5.661502,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,43.934776,-110.589759,49,2020
790328,2020-12-04,Uinta,WY,1175,5.0,no,no,20893.0,10.035892,NaN,...,0.0,0.0,0.0,0.0,10.0,8.9,41.287648,-110.547639,49,2020
790329,2020-12-04,Washakie,WY,517,8.0,no,no,8351.0,3.730539,NaN,...,0.0,0.0,0.0,0.0,10.0,4.1,43.904970,-107.682819,49,2020
790330,2020-12-04,Weston,WY,419,2.0,no,no,7175.0,2.991964,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,43.840417,-104.567663,49,2020

In [38]:
covid_clean_df.to_csv('./dataset/covid_clean_df', index=False)

In [39]:
group_covid_df = covid_clean_df.groupby(['county','state', 'YEAR', 'week'])

In [40]:
group_covid_agg_df = group_covid_df.agg({
    'cases': 'last',
    'deaths': 'last',
    'stay_at_home_announced' :  lambda x: 'yes' if (x == 'yes').sum() >= 4 else 'no',
    'stay_at_home_effective' :  lambda x: 'yes' if (x == 'yes').sum() >= 4 else 'no',
    'total_population': 'first',
    'population_density_per_sqmi': 'first',
    'date_stay_at_home_announced': 'first',
    'date_stay_at_home_effective': 'first',
    'fog': 'sum',
    'rain': 'sum',
    'snow': 'sum',
    'thunder': 'sum',
    'visibility': 'mean',
    'max_wind_speed': 'mean',
    'lat' : 'first',
    'lon' : 'first'
})
# group_covid_agg_df = group_covid_df.agg({'stay_at_home_effective': lambda x: 'yes' if (x == 'yes').sum() >= 4 else 'no'})

In [41]:
group_covid_agg_df['increasing_cases'] = group_covid_agg_df['cases'] - group_covid_agg_df['cases'].shift(1)
group_covid_agg_df['increasing_cases'] = group_covid_agg_df['increasing_cases'].fillna(group_covid_agg_df['cases'])
group_covid_agg_df

                           cases  deaths stay_at_home_announced  \
county    state YEAR week
Abbeville SC    2020 12        1     0.0                     no
                     13        4     0.0                     no
                     14        6     0.0                     no
                     15        9     0.0                     no
                     16       17     0.0                     no
...                          ...     ...                    ...
Ziebach   SD    2020 45      130     2.0                     no
                     46      149     3.0                     no
                     47      159     6.0                     no
                     48      180     7.0                     no
                     49      237     7.0                     no

                          stay_at_home_effective  total_population  \
county    state YEAR week
Abbeville SC    2020 12                       no           24951.0
                     13                       no           24951.0
                     14                       no           24951.0
                     15                       no           24951.0
                     16                       no           24951.0
...                                          ...               ...
Ziebach   SD    2020 45                       no            2818.0
                     46                       no            2818.0
                     47                       no            2818.0
                     48                       no            2818.0
                     49                       no            2818.0

                           population_density_per_sqmi  \
county    state YEAR week
Abbeville SC    2020 12                      50.870343
                     13                      50.870343
                     14                      50.870343
                     15                      50.870343
                     16                      50.870343
...                                                ...
Ziebach   SD    2020 45                       1.436850
                     46                       1.436850
                     47                       1.436850
                     48                       1.436850
                     49                       1.436850

                          date_stay_at_home_announced  \
county    state YEAR week
Abbeville SC    2020 12                          None
                     13                          None
                     14                          None
                     15                          None
                     16                          None
...                                               ...
Ziebach   SD    2020 45                          None
                     46                          None
                     47                          None
                     48                          None
                     49                          None

                          date_stay_at_home_effective  fog  rain  snow  \
county    state YEAR week
Abbeville SC    2020 12                          None  0.0   3.0   0.0
                     13                          None  2.0   4.0   0.0
                     14                          None  0.0   3.0   0.0
                     15                          None  1.0   2.0   0.0
                     16                          None  0.0   3.0   0.0
...                                               ...  ...   ...   ...
Ziebach   SD    2020 45                          None  0.0   0.0   0.0
                     46                          None  0.0   0.0   0.0
                     47                          None  0.0   0.0   0.0
                     48                          None  0.0   0.0   0.0
                     49                          None  0.0   0.0   0.0

                           thunder  visibility  max_wind_speed        lat  \
county    state YEAR week
Abbeville SC    2020 12        1.0    8.875000       11.225000  34.222556
                     13        2.0    7.871429       11.128571  34.222556
                     14        0.0    9.871429        8.228571  34.222556
                     15        0.0    9.485714       12.442857  34.222556
                     16        1.0    9.800000       13.014286  34.222556
...                            ...         ...             ...        ...
Ziebach   SD    2020 45        0.0         NaN       16.614286  44.980428
                     46        0.0         NaN       20.042857  44.980428
                     47        0.0         NaN       17.157143  44.980428
                     48        0.0         NaN       20.428571  44.980428
                     49        0.0         NaN       18.380000  44.980428

                                  lon  increasing_cases
county    state YEAR week
Abbeville SC    2020 12    -82.458754               1.0
                     13    -82.458754               3.0
                     14    -82.458754               2.0
                     15    -82.458754               3.0
                     16    -82.458754               8.0
...                               ...               ...
Ziebach   SD    2020 45   -101.665818              22.0
                     46   -101.665818              19.0
                     47   -101.665818              10.0
                     48   -101.665818              21.0
                     49   -101.665818              57.0

[112630 rows x 17 columns]

In [42]:
group_covid_agg_df = group_covid_agg_df.reset_index()

In [43]:
group_covid_agg_df.to_csv('./dataset/covid_county_week.csv', index = False)

In [44]:
group_covid_agg_df

,county,state,YEAR,week,cases,deaths,stay_at_home_announced,stay_at_home_effective,total_population,population_density_per_sqmi,...,date_stay_at_home_effective,fog,rain,snow,thunder,visibility,max_wind_speed,lat,lon,increasing_cases
0,Abbeville,SC,2020,12,1,0.0,no,no,24951.0,50.870343,...,None,0.0,3.0,0.0,1.0,8.875000,11.225000,34.222556,-82.458754,1.0
1,Abbeville,SC,2020,13,4,0.0,no,no,24951.0,50.870343,...,None,2.0,4.0,0.0,2.0,7.871429,11.128571,34.222556,-82.458754,3.0
2,Abbeville,SC,2020,14,6,0.0,no,no,24951.0,50.870343,...,None,0.0,3.0,0.0,0.0,9.871429,8.228571,34.222556,-82.458754,2.0
3,Abbeville,SC,2020,15,9,0.0,no,no,24951.0,50.870343,...,None,1.0,2.0,0.0,0.0,9.485714,12.442857,34.222556,-82.458754,3.0
4,Abbeville,SC,2020,16,17,0.0,no,no,24951.0,50.870343,...,None,0.0,3.0,0.0,1.0,9.800000,13.014286,34.222556,-82.458754,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112625,Ziebach,SD,2020,45,130,2.0,no,no,2818.0,1.436850,...,None,0.0,0.0,0.0,0.0,NaN,16.614286,44.980428,-101.665818,22.0
112626,Ziebach,SD,2020,46,149,3.0,no,no,2818.0,1.436850,...,None,0.0,0.0,0.0,0.0,NaN,20.042857,44.980428,-101.665818,19.0
112627,Ziebach,SD,2020,47,159,6.0,no,no,2818.0,1.436850,...,None,0.0,0.0,0.0,0.0,NaN,17.157143,44.980428,-101.665818,10.0
112628,Ziebach,SD,2020,48,180,7.0,no,no,2818.0,1.436850,...,None,0.0,0.0,0.0,0.0,NaN,20.428571,44.980428,-101.665818,21.0
112629,Ziebach,SD,2020,49,237,7.0,no,no,2818.0,1.436850,...,None,0.0,0.0,0.0,0.0,NaN,18.380000,44.980428,-101.665818,57.0

In [45]:
airline_df = pd.read_csv('./dataset/geo_airports_week.csv')
airline_df.rename(columns={'COUNTY' :'county', 'STATE' : 'state'}, inplace=True)

In [46]:
airline_df

,YEAR,week,ORIGIN_AIRPORT_ID,COUNT_FLIGHTS,Description,IATA,AIRPORT,CITY,state,COUNTRY,LATITUDE,LONGITUDE,county
0,2018,1,10140,362,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo
1,2018,2,10140,269,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo
2,2018,3,10140,270,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo
3,2018,4,10140,270,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo
4,2018,5,10140,266,"Albuquerque, NM: Albuquerque International Sun...",ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194,Bernalillo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13122,2021,28,15624,280,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,30.483250,-86.525400,Okaloosa
13123,2021,29,15624,286,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,30.483250,-86.525400,Okaloosa
13124,2021,30,15624,286,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,30.483250,-86.525400,Okaloosa
13125,2021,31,15624,274,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,30.483250,-86.525400,Okaloosa
13126,2021,32,15624,265,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",VPS,Eglin Air Force Base,Valparaiso,FL,USA,30.483250,-86.525400,Okaloosa

In [23]:
# covid_airline_df = group_covid_agg_df.'county','state'merge(airline_df, on=[, 'YEAR', 'week'])

In [27]:
# covid_airline_df.groupby(['county','state']).count()

                      YEAR  week  cases  deaths  stay_at_home_announced  \
county         state
Alameda        CA       41    41     41      41                      41
Allegheny      PA       23    23     23      23                      23
Anchorage      AK       16    16     16      16                      16
Arlington      VA       39    39     39      39                      39
Baltimore      MD       39    39     39      39                      39
Bernalillo     NM        5     5      5       5                       5
Bexar          TX       37    37     37      37                      37
Charleston     SC        3     3      3       3                       3
Clark          NV       40    40     40      40                      40
Cook           IL       92    92     92      92                      92
Cuyahoga       OH       27    27     27      27                      27
Dallas         TX       39    39     39      39                      39
Davidson       TN       40    40     40      40                      40
Denver         CO       40    40     40      40                      40
Douglas        NE        6     6      6       6                       6
Duval          FL        4     4      4       4                       4
Erie           NY        3     3      3       3                       3
Essex          NJ       33    33     33      33                      33
Fairfax        VA       29    29     29      29                      29
Franklin       OH       16    16     16      16                      16
Fulton         GA       40    40     40      40                      40
Harris         TX       80    80     80      80                      80
Hennepin       MN       39    39     39      39                      39
Hillsborough   FL       41    41     41      41                      41
Honolulu       HI       40    40     40      40                      40
Jackson        MO       32    32     32      32                      32
Kauai          HI        3     3      3       3                       3
Kenton         KY        8     8      8       8                       8
King           WA       41    41     41      41                      41
Los Angeles    CA       69    69     69      69                      69
Maricopa       AZ       46    46     46      46                      46
Marion         IN       29    29     29      29                      29
Maui           HI        7     7      7       7                       7
Mecklenburg    NC       39    39     39      39                      39
Miami-Dade     FL       39    39     39      39                      39
Milwaukee      WI        9     9      9       9                       9
Multnomah      OR       32    32     32      32                      32
Orange         CA       37    37     37      37                      37
               FL       39    39     39      39                      39
Orleans        LA       34    34     34      34                      34
Palm Beach     FL        8     8      8       8                       8
Philadelphia   PA       39    39     39      39                      39
Pima           AZ        2     2      2       2                       2
Sacramento     CA       42    42     42      42                      42
Salt Lake      UT       41    41     41      41                      41
San Bernardino CA        5     5      5       5                       5
San Diego      CA       43    43     43      43                      43
San Francisco  CA       45    45     45      45                      45
Santa Clara    CA       40    40     40      40                      40
Shelby         TN        3     3      3       3                       3
Suffolk        MA       45    45     45      45                      45
Travis         TX       39    39     39      39                      39
Wake           NC       32    32     32      32                      32
Washoe         NV        5     5      5       5                       5
Wayne          MI       39    39     39      39                      39

                      stay_at_home_effective  total_population  \
county         state
Alameda        CA                         41                41
Allegheny      PA                         23                23
Anchorage      AK                         16                16
Arlington      VA                         39                39
Baltimore      MD                         39                39
Bernalillo     NM                          5                 5
Bexar          TX                         37                37
Charleston     SC                          3                 3
Clark          NV                         40                40
Cook           IL                         92                92
Cuyahoga       OH                         27                27
Dallas         TX                         39                39
Davidson       TN                         40                40
Denver         CO                         40                40
Douglas        NE                          6                 6
Duval          FL                          4                 4
Erie           NY                          3                 3
Essex          NJ                         33                33
Fairfax        VA                         29                29
Franklin       OH                         16                16
Fulton         GA                         40                40
Harris         TX                         80                80
Hennepin       MN                         39                39
Hillsborough   FL                         41                41
Honolulu       HI                         40                40
Jackson        MO                         32                32
Kauai          HI                          3                 3
Kenton         KY                          8                 8
King           WA                         41                41
Los Angeles    CA                         69                69
Maricopa       AZ                         46                46
Marion         IN                         29                29
Maui           HI                          7                 7
Mecklenburg    NC                         39                39
Miami-Dade     FL                         39                39
Milwaukee      WI                          9                 9
Multnomah      OR                         32                32
Orange         CA                         37                37
               FL                         39                39
Orleans        LA                         34                34
Palm Beach     FL                          8                 8
Philadelphia   PA                         39                39
Pima           AZ                          2                 2
Sacramento     CA                         42                42
Salt Lake      UT                         41                41
San Bernardino CA                          5                 5
San Diego      CA                         43                43
San Francisco  CA                         45                45
Santa Clara    CA                         40                40
Shelby         TN                          3                 3
Suffolk        MA                         45                45
Travis         TX                         39                39
Wake           NC                         32                32
Washoe         NV                          5                 5
Wayne          MI                         39                39

                      population_density_per_sqmi  \
county         state
Alameda        CA                              41
Allegheny      PA                              23
Anchorage      AK                              16
Arlington      VA                              39
Baltimore      MD                              39
Bernalillo     NM                               5
Bexar          TX                              37
Charleston     SC                               3
Clark          NV                              40
Cook           IL                              92
Cuyahoga       OH                              27
Dallas         TX                              39
Davidson       TN                              40
Denver         CO                              40
Douglas        NE                               6
Duval          FL                               4
Erie           NY                               3
Essex          NJ                              33
Fairfax        VA                              29
Franklin       OH                              16
Fulton         GA                              40
Harris         TX                              80
Hennepin       MN                              39
Hillsborough   FL                              41
Honolulu       HI                              40
Jackson        MO                              32
Kauai          HI                               3
Kenton         KY                               8
King           WA                              41
Los Angeles    CA                              69
Maricopa       AZ                              46
Marion         IN                              29
Maui           HI                               7
Mecklenburg    NC                              39
Miami-Dade     FL                              39
Milwaukee      WI                               9
Multnomah      OR                              32
Orange         CA                              37
               FL                              39
Orleans        LA                              34
Palm Beach     FL                               8
Philadelphia   PA                              39
Pima           AZ                               2
Sacramento     CA                              42
Salt Lake      UT                              41
San Bernardino CA                               5
San Diego      CA                              43
San Francisco  CA                              45
Santa Clara    CA                              40
Shelby         TN                               3
Suffolk        MA                              45
Travis         TX                              39
Wake           NC                              32
Washoe         NV                               5
Wayne          MI                              39

                      date_stay_at_home_announced  \
county         state
Alameda        CA                              41
Allegheny      PA                              23
Anchorage      AK                              16
Arlington      VA                              39
Baltimore      MD                              39
Bernalillo     NM                               5
Bexar          TX                              37
Charleston     SC                               0
Clark          NV                              40
Cook           IL                              92
Cuyahoga       OH                              27
Dallas         TX                              39
Davidson       TN                              40
Denver         CO                              40
Douglas        NE                               0
Duval          FL                               4
Erie           NY                               3
Essex          NJ                              33
Fairfax        VA                              29
Franklin       OH                              16
Fulton         GA                              40
Harris         TX                              80
Hennepin       MN                              39
Hillsborough   FL                              41
Honolulu       HI                              40
Jackson        MO                              32
Kauai          HI                               3
Kenton         KY                               8
King           WA                              41
Los Angeles    CA                              69
Maricopa       AZ                              46
Marion         IN                              29
Maui           HI                               7
Mecklenburg    NC                              39
Miami-Dade     FL                              39
Milwaukee      WI                               9
Multnomah      OR                              32
Orange         CA                              37
               FL                              39
Orleans        LA                              34
Palm Beach     FL                               8
Philadelphia   PA                              39
Pima           AZ                               2
Sacramento     CA                              42
Salt Lake      UT                               0
San Bernardino CA                               5
San Diego      CA                              43
San Francisco  CA                              45
Santa Clara    CA                              40
Shelby         TN                               3
Suffolk        MA                              45
Travis         TX                              39
Wake           NC                              32
Washoe         NV                               5
Wayne          MI                              39

                      date_stay_at_home_effective  ...  increasing_cases  \
county         state                               ...
Alameda        CA                              41  ...                41
Allegheny      PA                              23  ...                23
Anchorage      AK                              16  ...                16
Arlington      VA                              39  ...                39
Baltimore      MD                              39  ...                39
Bernalillo     NM                               5  ...                 5
Bexar          TX                              37  ...                37
Charleston     SC                               0  ...                 3
Clark          NV                              40  ...                40
Cook           IL                              92  ...                92
Cuyahoga       OH                              27  ...                27
Dallas         TX                              39  ...                39
Davidson       TN                              40  ...                40
Denver         CO                              40  ...                40
Douglas        NE                               0  ...                 6
Duval          FL                               4  ...                 4
Erie           NY                               3  ...                 3
Essex          NJ                              33  ...                33
Fairfax        VA                              29  ...                29
Franklin       OH                              16  ...                16
Fulton         GA                              40  ...                40
Harris         TX                              80  ...                80
Hennepin       MN                              39  ...                39
Hillsborough   FL                              41  ...                41
Honolulu       HI                              40  ...                40
Jackson        MO                              32  ...                32
Kauai          HI                               3  ...                 3
Kenton         KY                               8  ...                 8
King           WA                              41  ...                41
Los Angeles    CA                              69  ...                69
Maricopa       AZ                              46  ...                46
Marion         IN                              29  ...                29
Maui           HI                               7  ...                 7
Mecklenburg    NC                              39  ...                39
Miami-Dade     FL                              39  ...                39
Milwaukee      WI                               9  ...                 9
Multnomah      OR                              32  ...                32
Orange         CA                              37  ...                37
               FL                              39  ...                39
Orleans        LA                              34  ...                34
Palm Beach     FL                               8  ...                 8
Philadelphia   PA                              39  ...                39
Pima           AZ                               2  ...                 2
Sacramento     CA                              42  ...                42
Salt Lake      UT                               0  ...                41
San Bernardino CA                               5  ...                 5
San Diego      CA                              43  ...                43
San Francisco  CA                              45  ...                45
Santa Clara    CA                              40  ...                40
Shelby         TN                               3  ...                 3
Suffolk        MA                              45  ...                45
Travis         TX                              39  ...                39
Wake           NC                              32  ...                32
Washoe         NV                               5  ...                 5
Wayne          MI                              39  ...                39

                      ORIGIN_AIRPORT_ID  COUNT_FLIGHTS  Description  IATA  \
county         state
Alameda        CA                    41             41           41    41
Allegheny      PA                    23             23           23    23
Anchorage      AK                    16             16           16    16
Arlington      VA                    39             39           39    39
Baltimore      MD                    39             39           39    39
Bernalillo     NM                     5              5            5     5
Bexar          TX                    37             37           37    37
Charleston     SC                     3              3            3     3
Clark          NV                    40             40           40    40
Cook           IL                    92             92           92    92
Cuyahoga       OH                    27             27           27    27
Dallas         TX                    39             39           39    39
Davidson       TN                    40             40           40    40
Denver         CO                    40             40           40    40
Douglas        NE                     6              6            6     6
Duval          FL                     4              4            4     4
Erie           NY                     3              3            3     3
Essex          NJ                    33             33           33    33
Fairfax        VA                    29             29           29    29
Franklin       OH                    16             16           16    16
Fulton         GA                    40             40           40    40
Harris         TX                    80             80           80    80
Hennepin       MN                    39             39           39    39
Hillsborough   FL                    41             41           41    41
Honolulu       HI                    40             40           40    40
Jackson        MO                    32             32           32    32
Kauai          HI                     3              3            3     3
Kenton         KY                     8              8            8     8
King           WA                    41             41           41    41
Los Angeles    CA                    69             69           69    69
Maricopa       AZ                    46             46           46    46
Marion         IN                    29             29           29    29
Maui           HI                     7              7            7     7